MONGODB_URI=mongodb://localhost:27017/DSS2
# hoặc MongoDB Cloud:
# MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/DSS2?retryWrites=true&w=majority

PORT=3001
NODE_ENV=development
ML_API_URL=http://localhost:5000